/* rob styles */

body {
    background: url('../img/background.png');
    font-family:sans-serif;
    font-size:120%;
   }
   
   input[type="text"] {
       border: 1px solid #ddd;
       margin-top: 5px;
       padding:5px 5px;
       background:#eee;
       -webkit-border-radius: 2px;
       border-radius: 2px;
       font-size:80%;
       align:center;
   }
   
   .logo {
     height: 120px;
     width: 171px;
     margin-left: 50px;
     margin-top: 50px;
   }
   
   .entry {
     color: black;
     text-decoration: none;
     font-weight: bold;
   
     display: block;
     margin:  0px 28px;
   }
   
   .message {
    background-color:#e6e6e6;
    border-radius:5px;
    margin:auto;
    padding:10px;
    text-align:center;
    display:table;
    margin-top:10%;
   /* cursor:pointer; */
   }
   
   #speed {
     margin-top: 20px;
     width: 132px;
   }
   
   .speed .text {
     margin-top: -10px;
   }
   
   .speed {
    white-space:nowrap;
    font-size:60%;
   }
   
   .message div {
    display:table-row;
   }
   
   .message span {
    display:table-cell;
    vertical-align:middle;
   }
   
   .drag {
     position:fixed;
     width:40px;
     height:40px;
     visibility:hidden;
     background-size: 35px;
     background-repeat: no-repeat;
     background-position: center;
     border-radius: 4px;
     border: 3px solid #e54a12;
     z-index:2;
     pointer-events:none;
   }
   
   .inst_bt {
     width:50%;
     text-align:center;
     vertical-align:middle;
     margin:auto;
   }
   
   .board {
    background-color:#e6e6e6;
    border-radius:5px;
    width:0px;
    height:0px;
    margin:auto;
    position:relative;
    padding:10px;
   }
   
   .piece {
     position:absolute;
     width:40px;
     height:40px;
     border: 1px solid;
     box-sizing:border-box;
   }
   
   .piece.l {
     border: none;
     background:#01babc;
   }
   
   .piece.m {
     border: none;
    background:#0fe9af;
   }
   
   .piece.n {
     border: none;
    background:#0fdd4d;
   }
   
   .piece.o {
     border: none;
    background:#9ed90f;
   }
   
   .piece.p {
     border: none;
    background:#e5da0f;
   }
   
   .piece.q {
     border: none;
    background:#e5b008;
   }
   
   .piece.r {
     border: none;
    background:#e54a12;
   }
   
   .piece.s {
     border: none;
    background:#d30909;
   }
   
   .piece.t {
     border: none;
    background:#ed1c70;
   }
   
   .piece.u {
     border: none;
    background:#ac19af;
   }
   
   .piece.v {
     border: none;
    background:#762dff;
   }
   
   .piece.w {
     border: none;
    background:#2652ef;
   }
   
   .piece.x {
     border: none;
    background:#2a97b8;
   }
   
   .piece.y {
     border: none;
    background:#5ef493;
   }
   
   .piece.z {
     border: none;
    background:#000000;
   }
   
   .piece.blue {
    background:#2652ef;
    border-color: #6989fc;
   }
   .piece.red {
    background:#d30909;
    border-color: #e94c4c;
   }
   .piece.green {
    background:#0fdd4d;
    border-color: #8cf5ac;
   }
   .piece.star {
    background:url('../img/42.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border:0px;
   }
   .piece.arrow {
    background:url('../img/fleche.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border:0px;
   }
   
   
   .cmd, .inst {
    background-color:#e6e6e6;
    border-radius:5px;
    width:0px;
    height:0px;
    position:relative;
    padding:10px;
   }
   
   .cmd {
    margin:auto;
   }
   .inst {
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    margin:10px;
    float:left;
   }
   
   .cmdinst, .instinst {
     position:absolute;
     width:40px;
     height:40px;
     border:1px solid #acacac;
     border-radius: 4px;
     box-sizing:border-box;
     background-size: 30px;
     background-repeat: no-repeat;
     background-position: center;
     background-color: #d0d0d0;
   }
   
   .cmdinst.red, .drag.red {
     background:#d30909;
   }
   
   .cmdinst.green, .drag.green {
     background:#0fdd4d;
   }
   
   .cmdinst.blue, .drag.blue {
     background:#2652ef;
   }
   
   
   .insthdr {
     position:absolute;
     width:40px;
     height:40px;
     box-sizing:border-box;
     background-size: 28px auto;
     background-position: center center;
     background-repeat: no-repeat;
   }
   
   .instinst.red, .drag .red {
     background-color:#d30909;
   }
   
   .instinst.green, .drag .green {
     background-color:#0fdd4d;
   }
   
   .instinst.blue, .drag .blue {
     background-color:#2652ef;
   }
   
   .forward {
     background-image:url('../img/forward.png');
   }
   
   .left {
     background-image:url('../img/left.png');
   }
   
   .right {
     background-image:url('../img/right.png');
   }
   
   
   .f1  {
     background-image:url('../img/f1.png')
   }
   
   .f2  {
     background-image:url('../img/f2.png')
   }
   
   .f3  {
     background-image:url('../img/f3.png')
   }
   
   .f4  {
     background-image:url('../img/f4.png')
   }
   
   .f5  {
     background-image:url('../img/f5.png')
   }
   
   .level_title {
     font-weight: bold;
     padding: 10px 0 0 10px;
   }